
   /*   #left a {
            
            transition: 1.4s;
            
            border-radius: 0px;
             position: relative;
           
        }
        
                
        #left a:before {
            content: attr(data-hover);
        }
        
        #left a:after {
        content: attr(data-hover);
            position: absolute;
            color: aquamarine;
            left: 0;
            width: 0;
            transition: width 1s;
            overflow: hidden;
            white-space: nowrap;
        }
        
        #left a:hover:after {
            width: 100%;
        }*/
        /*
         #left a {
            color: #3498db;
            transition: 1.4s;
            
            border-radius: 0px;
             position: relative;
           
        }
        
        
        #left a:before {
            content: attr(data-hover);
        }
        #left a:after {
        content: attr(data-hover);
            position: absolute;
            color: aquamarine;
            left: 0;
            width: 0;
            transition: width 1s;
            overflow: hidden;
            white-space: nowrap;
        }
        
        #left a:after:after {
            width: 100%;
        }
        */
       
        
        #main button {
            width: 10em;
            margin-left: calc(50vw - 5em);
        }
        
        #main {
            padding-top: 7em;
            padding-bottom: 7em;
        }
        
        
        @media (max-device-width: 415px) {
            #main button {
                margin-top: 8em;
            }
            
             .arrow {
        font-size: 3em;
    }
   
        
         
           
        }
        
        /*--------DIVA--------*/




.side {
            display: grid;
           grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 3em;
        }
        
        .app h3 {
                height: 1.2em;
            }
        
        .app p {
            height: 1.5em;
        }
        
        .app {
            margin: 0;
            padding: 0;
          /* width: 30vw;*/
        }
        
        
        @media (max-width: 70em){
            .side {
                grid-template-columns: 1fr;
                  margin-bottom: 0em;
            }
            
             .app {
            margin-bottom: 3em;
            width: 100vw;        
        }
        }
        
        .down {
            text-decoration: none;
            font-size: 1em;
            padding: 1em;
            color: #3498db;
            font-weight: bold;
            margin-top: 3em;
            border-radius: 0.5em;
            background: none;
            border: 2px solid #3498Db;
            margin-left: auto;
        }
        
        
        .down:focus {
            outline: none;
        }
        
        .tar-outline {
            background: white !important;
            color: #3498db !important;
            border:4px solid #3498db !important;
        }
        
        .arrow {
            border: none;
            font-weight: bold;
            font-size: 2em;
          
        }
        
        footer {
         /*  padding-bottom: 0em;  */
            margin-top: 10em;
        }
   
 .app-img {
 	width: 12em;
     border-radius: 45px;
     border: 1px solid gray;
 }
    
    .bottom-btn {
        margin-bottom: 8em !important;
    }

 .app {
 	padding-bottom: 3em;
      text-align: center;
 }
    
    .app-title {
        font-size: 3em;
    }

 
    .appstore {
        width: 10em;
        margin: 1em;
    }
    
        
        .desc {
            font-size: 1em;
        }
     
    
    h3, .desc {
        text-align: center;
    }

    h3 {
        font-size: 2em;
    }
    .link {
        display: block;
        font-weight: bold;
        text-decoration: none;
        color: #3498db;
        text-align: center;
        padding: 1em;
    }
    
    
    .item {
        text-align: center;
        font-weight: bold;
    }
    
    .about {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    
    .about:nth-child(1){
        margin-top: 0;
    }
    
    h3 {
        margin-top: 0.5em;
    }
    
      .app-title-web {
        margin-top: 1.5em;
    }
    
    .bottom-about {
    margin-top: 2em;
    }
    
    
    .bottom-about-web {
    margin-top: 1em;
    }
    
    
    
    .smaller {
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    
         
    /*
        RANKING FUNCTIONS
        
        
        ROWNNUMBER
        ENTILE
        
        RANK()*/
    
    @media (max-device-width: 415px)  {
        .app-img {
            width: 20em;
        }
        
        .item {
            font-size: 3em;
        }
        
        .appstore {
            width: 20em;
            margin-left: 50vw - 10em;
        }
        
         .down {
            font-size: 3em;
             margin-top: 3em;
    }
        
       
    }
    
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
        .down {
            margin-top: 8em;
        }
}
    

    @media (max-width: 70em){
        .down {
            margin-top: 10em;
        }
        
        .side {
            margin-left: 0;
        }
        
        
    }
        
         @media (max-device-width: 415px){
       
        
       .desc {
          
            font-size: 3em;
        }
             
             .app-title {
                 font-size: 4em;
            
             }
             
             .app .desc {
                 margin-bottom: 0.5em;
             }
             
             .app {
                 margin-bottom: 8em;
             }
    }